<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MythConf.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1B2918B52F73EA8B008A369D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1B2919B22F74454E008A369D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1B82D2D82F76CFC5007E86CE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
